* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html, body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.sidebar {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #d8d2f8;
    padding: 1rem;
    padding-left: 5rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#dash-img {
    position: absolute;
    height: 3rem;
    left: 1.5rem;
    top: 0.5rem;
}

#home-img, #prof-img, #mesg-img, #hist-img, #task-img, #comm-img, #set-img, #supp-img, #priv-img {
    position: absolute;
    height: 2rem;
    left: 1.9rem;
    margin-top: -0.6rem;
}

.dashboard {
    font-size: 1.5rem;
    font-weight: 800;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 1rem;
    font-weight: 800;
}

.head {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 0.2rem solid #d0d8e2;
    color: white;
    background-color: #6a5da1;
}

.search-bar {
    display: grid;
    grid-template-columns: 0.7fr auto;
    justify-content: space-between;
    align-items: end;
    position: relative;
}

#magnify {
    position: absolute;
    height: 2rem;
}

input {
    background-color: #e2e8f0;
    border: none;
    border-radius: 0.9rem;
    padding: 0.4rem 1rem;
    margin-left: 2.5rem;
}

.profile {
    font-weight: 800;
    align-self: center;
}

.welcome {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    align-items: end;
}

.greeting {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-weight: 800;
    font-size: 1.4rem;
}

.buttons {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    gap: 1rem;
}

button {
    background-color: #d8d2f8;
    color: black;
    padding: 0.5rem 1.4rem;
    border-radius: 1rem;
    border: none;
    font-weight: 800;
}

.content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: auto auto;
    background-color: #e2e8f0;
    padding: 1rem;
    column-gap: 2rem;
    row-gap: 1rem;
    padding-bottom: 2rem;
}

.project-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: stretch;
    height: 100%;
}

.project-container > .title, .announcement-container > .title, .trending-container > .title {
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
}

.project > .title, .announcement > .title {
    margin-bottom: 0.4em;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.4rem;
    align-self: stretch;
}

.project {
    background-color: white;
    padding: 2rem 1.5rem 4rem 1rem;
    border-left: 0.6rem solid #6a5da1;
    border-radius: 0.5rem;
    align-self: stretch;
    height: auto;
    box-shadow: 0.2rem 0.3rem 0.15rem #c3cbd6;
    position: relative;
}

.star-img, .eye-img, .fork-img {
    position: absolute;
    height: 2rem;
    bottom: 1rem;
}

.fork-img {
    right: 1rem;
}

.eye-img {
    right: 3rem;
}

.star-img {
    right: 5rem;
}

.project > .text {
    font-size: 0.8rem;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    gap: 0.5rem;
    box-shadow: 0.2rem 0.3rem 0.15rem #c3cbd6;
}

.announcement > .text {
    font-size: 0.7rem;
}

.trending-container {
    align-self: end;
}

.trends {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    padding-left: 5rem;
    gap: 1.5rem;
    box-shadow: 0.2rem 0.3rem 0.15rem #c3cbd6;
}

.trend > .text {
    font-size: 0.9rem;
}

.text {
    color: grey;
}

.title {
    font-weight: 800;
}